<% include ../partials/header %>

<div class="container">
    <h1 class="header">Edit Payment</h1>
    
    <% if (payment.amounts.length > 0) { %>
        <h3 class="spacer">Edit past amounts</h3>
    <% } %>
    <% payment.amounts.forEach (function (amount) { %>
        <form class="form" id="form<%= amount._id %>" action="/finance/<%= payment._id %>/amounts/<%= amount._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="value<%= amount._id %>">Amount (+/-)</label>
                <input id="value<%= amount._id %>" name="amount[value]" value="<%= amount.value.toFixed(2) %>" type="text" class="form-control">
            </div>
    
            <div class="form-group">
                <label for="date<%= amount._id %>">Date</label>
                <input id="date<%= amount._id %>" name="amount[date]" value="<%= amount.date %>" type="date" class="form-control date">
            </div> 
        </form>
        
        <form id="deleteForm<%= amount._id %>" action="/finance/<%= payment._id %>/amounts/<%= amount._id %>?_method=DELETE" method="POST" class="inline float-right">
        </form>
        
        <button form="form<%= amount._id %>" class="btn btn-primary" type="submit">Submit</button>
        <button form="deleteForm<%= amount._id %>" type="submit" class="btn btn-danger">Delete</button>
        
    <% }); %>
    
    <h3 class="spacer">Add new payment</h3>
    <form class="form" action="/finance/<%= payment._id %>/amounts" method="POST">
        <div class="form-group">
            <label for="newValue">New Amount (+/-)</label>
            <input id="newValue" name="newAmount[value]" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="newDate>">New Date</label>
            <input id="newDate" name="newAmount[date]" type="date" class="form-control date">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>  
        
    <h3 class="spacer">Edit payment information</h3>
    <form id="paymentForm" class="form" action="/finance/<%= payment._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="source">Source</label>
            <input id="source" name="payment[source]" value="<%= payment.source %>" type="text" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="frequency">Frequency (every x months)</label>
            <select id="frequency" name="payment[frequency]" class="form-control">
                <% for (i=Payment.schema.path('frequency').options.min; i<Payment.schema.path('frequency').options.max+1; i++) { 
                    if (i == payment.frequency) { %>
                        <option selected><%= i %></option>
                    <% } else { %>
                        <option><%= i %></option>
                    <% }
                } %>
            </select>
        </div>

        <div class="form-group">
            <label for="endDate">End Date (if recurring)</label>
            <input id="endDate" name="payment[endDate]" value="<%= payment.endDate %>" type="date" class="form-control date">
        </div> 
        
        <div class="form-group">
            <label for="category">Category</label>
            <select id="category" name="payment[category]" value="<%= payment.category %>" class="form-control">
                <% for (i=0; i<Payment.schema.path('category').enumValues.length; i++) { %>
                    <option><%= Payment.schema.path('category').enumValues[i] %></option>
                <% } %>
            </select>
        </div>

        <div class="form-group">
            <label for="importance">Importance</label>
            <select id="importance" name="payment[importance]" value="<%= payment.importance %>" class="form-control">
                <% for (i=0; i<Payment.schema.path('importance').enumValues.length; i++) { %>
                    <option><%= Payment.schema.path('importance').enumValues[i] %></option>
                <% } %>
            </select>            
        </div>        
    </form>
    
    <form id="deleteForm" action="/finance/<%= payment._id %>?_method=DELETE" method="POST" class="inline float-right">
    </form>
    
    <button form="paymentForm" class="btn btn-primary" type="submit">Submit</button>
    <button form="deleteForm" type="submit" class="btn btn-danger">Delete</button>
</div>

<% include ../partials/footer %>